<h1 class="mt-2">Clientes</h1>
<ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="row">
    <div class="col-2-m2">
        <button class="btn btn-default" (click)="novoCadastro()"><i class="fa fa-plus"></i> Novo</button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="messagemSuccesso">
            {{messagemSuccesso}}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="messagemError">
            {{messagemError}}
        </div>
    </div>
</div>

<div class="col-m2-12">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CPF</th>
                <th>DATA</th>
                <th></th>
            </tr>
        </thead>
        <tr>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.data }}</td>
            <td>
                <button class="btn btn-primary" routerLink="/clientes/form/{{cliente.id}}"><i
                        class="fa fa-pen-square"></i></button>
                <button class="btn btn-danger ml-md-1" data-toggle="modal" data-target="#modalDelecao"
                    (click)="preparaDelecao(cliente)"><i class="fa fa-user-minus"></i></button>
            </td>
        </tr>
        <tbody>

        </tbody>
    </table>
</div>

<div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirmar</h4>
            </div>
            <div class="modal-body" *ngIf="clienteSelecionado">
                Confirmar a deleção do(a) Cliente {{clienteSelecionado?.nome}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="deletarCliente()" data-dismiss="modal">Confirmar</button>
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>